## 8. Memory & Experiment Tracker

> Stores all experiments, agents, configs, outcomes.

### Components:

* Episode tracker
* Agent tracker
* Experiment tracker
* Curriculum history logger

### Landmarks:

* EpisodeTracker, AgentTracker, EnvironmentTracker

### Next Steps:

* No tagging/versioning

* No detailed diagnostics or episode replays


Enables full reproducibility, evaluation, and post-hoc analysis.

In [1]:
import jupyter

C:\Users\Francisco SÃ¡\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
import os
import random
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import gymnasium as gym

from tqdm import tqdm
from pathlib import Path
from datetime import datetime

from src.utils.system import boot

from tracker import OHLCV_DF, EpisodeTracker, EnvironmentTracker, AgentTracker

In [6]:
boot()

ep_tracker = EpisodeTracker()
ep = ep_tracker.findById(10)

kv_data = []
for k,v in ep.items():
    if k == "df":
        continue
    kv_data.append({"key":k,"value":v})
    
pd.DataFrame(kv_data)

                   key                value
0          df_end_iloc                  704
1        df_start_iloc                  584
2  df_target_date_iloc                  584
3             end_date  2024-10-23 00:00:00
4       episode_length                  120
5                 mode                 test
6           start_date  2024-05-02 00:00:00
7          target_date           2024-05-01
8               ticker                 AAPL

In [14]:
env_tracker = EnvironmentTracker()
trading_env = env_tracker.load_instance(10)

kv_data = []
for k,v in trading_env.items():
    if k == "environment":
        continue
    kv_data.append({"key":k,"value":v})
    
pd.DataFrame(kv_data)

       key                                              value
0   env_id                                                 10
1       id                                                 10
2  version                                                 v2
3   config  {'lookback': 0, 'market_features': ['price_cha...

In [37]:
agent_tracker = AgentTracker()
agent = agent_tracker.load_instance(2)
model = agent.boot(trading_env['environment'](OHLCV_DF,'AAPL'))
kv_data = [{"model":model.__class__.__name__}]

pd.DataFrame(kv_data)

  model
0   A2C